@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #fff0f3;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #FFC8DD;
    background: linear-gradient(90deg, rgba(255, 200, 221, 1) 33%, rgba(255, 130, 176, 1) 100%);
    width: 100%;
    height: 125px;
    padding: 0%;
    margin: 0%;
}

#cita{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 1.5em;
    font-weight: 900;
    color: #ffffff;
    background: #dcaeee;
    background: radial-gradient(circle, rgba(220, 174, 238, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 50px;
    padding: 10px;
    margin: 20px;
    user-select: none;
    transition: all 0.3s ease;
}

#cita:hover{
    cursor: pointer;
    background: #dcaeee;
    background: radial-gradient(circle, rgba(220, 174, 238, 1) 0%, rgba(148, 187, 233, 1) 100%);
    box-shadow: 0px 0px 20px #ffffff;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Start{
    width: 100%;
}

#TitleContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 100px;
}

.Title{
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: #c9184a;
    text-align: center;
    font-size: 7em;
    margin: 20px;
}

.DescContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 100px;
}

.Desc{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.25em;
    margin: 100px;
}

#EsteticaContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 100px;
}

#Estetica{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #d45252;
}